/* src/App.css */

.app {
    font-family: Arial, sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e1b47;
    margin: 0;
    padding: 0;
  }