.card {
  width: 200px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  border: 2px solid #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 
  0 2px 5px rgba(255, 255, 255, 0.3);
  
}


.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border:1px solid #fff;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.card-roles p {
  margin: 5px 0;
  font-size: 0.9rem;
}