/* RegistrationCard.css */

.container {
    display: flex;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
  }
  .registration-card-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  
  }
  
  .registration-card {
    background-color: #6e5b89;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    border: 2px solid #000;
  }
  
  .registration-card:hover {
    transform: scale(1.05);
  }
  
  .registration-text {
    font-weight: bold;
    margin: 15px 0;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .countdown div {
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .register-button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .register-button:hover {
    background-color: #444;
  }
  
  .about-the-club {
    flex-grow: 1;
    background-color: #6e5b89;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000;
  }
  
  .instagram-button {
    display: block;
    margin-top: 20px;
  }